node_modules
meta-doc/src/main/models/nomic-embed-text-v1.5.Q8_0.gguf
meta-doc/resources/bce-embedding-base_v1-Q8_0.gguf.part03
meta-doc/resources/bce-embedding-base_v1-Q8_0.gguf.part02
meta-doc/resources/bce-embedding-base_v1-Q8_0.gguf.part01
meta-doc/resources/bce-embedding-base_v1-Q8_0.gguf
