node_modules
meta-doc/src/main/models/nomic-embed-text-v1.5.Q8_0.gguf
meta-doc/resources/bce-embedding-base_v1-Q8_0.gguf.part03
meta-doc/resources/bce-embedding-base_v1-Q8_0.gguf.part02
meta-doc/resources/bce-embedding-base_v1-Q8_0.gguf.part01
meta-doc/resources/bce-embedding-base_v1-Q8_0.gguf
meta-doc/resources/bce-embedding-base_v1-Q8_0.gguf.part01
meta-doc/resources/bce-embedding-base_v1-Q8_0.gguf.part03
meta-doc/resources/bce-embedding-base_v1-Q8_0.gguf.part02
meta-doc/resources/bce-embedding-base_v1-Q8_0.gguf.part01
meta-doc/resources/bce-embedding-base_v1-Q8_0.gguf.part02
meta-doc/resources/bce-embedding-base_v1-Q8_0.gguf.part03
meta-doc/resources/bce-embedding-base_v1-Q8_0.gguf.part03
meta-doc/resources/bce-embedding-base_v1-Q8_0.gguf.part02
meta-doc/resources/bce-embedding-base_v1-Q8_0.gguf.part01
meta-doc/resources/llm-statistics.json
meta-doc/.env
meta-doc/code-audit-report.md
meta-doc/resources_disabled/bce-embedding-base_v1-Q8_0.gguf
*.traineddata
meta-doc/resources/version.json
meta-doc/version.json
meta-doc/package.json
/.test-release
/.test-workflow
issues.md
.issues.md.meta
.开发进度.md.meta
开发进度.md

# IDE 配置文件
.idea/
.vscode/

# Eclipse IDE 配置
*.project
*.settings/

# Dev Container
.devcontainer/

# OS 生成的文件
.DS_Store
Thumbs.db
*.png

# MetaDoc 用户数据
docs/.metadoc/agent/sessions.json
/meta-doc/debug
/debug/resume-pdf
