.main-container {
  display: flex;
  flex-direction: column; /* ��Ԫ�ش�ֱ���� */
  align-items: center; /* ˮƽ���� */
  width: 100%;
  height: 100vh; /* ռ�������ӿڸ߶� */
  text-align: center; /* ȷ���ı����ݾ��� */
}
